/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div.row-fluid div.span9 div.span3 {
	border:1px solid #006600;
	padding:3px;
}

.infoSpan b {
	font-size:24px;
	color:blue;
}
.infospan em {
	color:green!important;
}

.btn {
	font-size:30px;
	line-height:30px;
}

li.active > a.btn { color:#0088CC; }

.MainScheduleTable {z-index: 10;}
.StageScheduleDay {padding: 7px 10px 7px 55px !important;border-top: 1px solid #8d9d8a; position: relative; top: -1px; background: #40632e; }
.MainScheduleTable tr:first-child td:first-child  {border-top: none !important;border-radius: 7px 0 0 0;}
.WakaStageHeader {background: #88da84;}
.LeftColSchedule {background: #d9e4a4; border-top: 1px solid #8d9d8a;border-right: 1px solid #8d9d8a;border-left: 1px solid #8d9d8a; line-height: 13px !important; position: relative; top: -1px;}
.SetBoxSchedule {background: #d9faa5;}
.MainStageHeader span, .RevivalStageHeader span, .BackwoodsStageHeader span, .OutpostStageHeader span, .SatelliteStageHeader span, .RiverStageHeader span  {font-size: .8em; font-style: italic; display: block;}
.MainStageHeader {line-height: 1.1em;background: #70bf44; border-radius: 15px 15px 0 0; border-bottom: 1px solid #7a9176; position: relative;left: -1px; border-left: 1px solid #70bf44;border-right: 1px solid #70bf44; text-align: center; font-weight: bold; text-transform: uppercase; font-size: .8em;}
.MainSetBoxSchedule {background: #f6fed1; border-top: 5px solid #70bf44;border-bottom: 5px solid #70bf44;}
.RevivalStageHeader {background: #e6e75c;border-radius: 15px 15px 0 0; border-bottom: 1px solid #7a9176; line-height: 1.1em; text-align: center; font-weight: bold; text-transform: uppercase; font-size: .8em;}
.RevivalSetBoxSchedule {background: #fdffc6; border-top: 5px solid #e6e75c;border-bottom: 5px solid #e6e75c;}
.BackwoodsStageHeader {line-height: 1.1em; background: #7fd0da;border-radius: 15px 15px 0 0; border-bottom: 1px solid #7a9176; text-align: center; font-weight: bold; text-transform: uppercase; font-size: .8em;}
.BackwoodsSetBoxSchedule {background: #f6fed1; border-top: 5px solid #7fd0da;border-bottom: 5px solid #7fd0da;}
.OutpostStageHeader {line-height: 1.1em;background: #f26c6c; border-radius: 15px 15px 0 0; border-bottom: 1px solid #7a9176; text-align: center; font-weight: bold; text-transform: uppercase; font-size: .8em;}
.OutpostSetBoxSchedule {background: #fdffc6; border-top: 5px solid #f26c6c;border-bottom: 5px solid #f26c6c;}
.SatelliteStageHeader {line-height: 1.1em;background: #ababe3; border-radius: 15px 15px 0 0; border-bottom: 1px solid #7a9176; text-align: center; font-weight: bold; text-transform: uppercase; font-size: .8em;}
.SatSetBoxSchedule {background: #ababe3;background: #f6fed1; border-top: 5px solid #ababe3;border-bottom: 5px solid #ababe3;}
.RiverStageHeader {line-height: 1.1em;background: #ff985a; border-radius: 15px 15px 0 0; border-bottom: 1px solid #7a9176;  text-align: center; font-weight: bold; text-transform: uppercase; font-size: .8em;}
.RiverSetBoxSchedule {background: #fdffc6; border-top: 5px solid #ff985a;border-bottom: 5px solid #ff985a;}
.sticky-element-fixed .MainStageHeader, .sticky-element-fixed .RevivalStageHeader, .sticky-element-fixed .BackwoodsStageHeader, .sticky-element-fixed .OutpostStageHeader, .sticky-element-fixed .SatelliteStageHeader, .sticky-element-fixed .RiverStageHeader {border-radius: 0 0 0 0 !important;}
.StageScheduleDay h2 {color: #cfeac9 !important; text-shadow: none !important;}
.sideday {color: #899065 !important;}
